<div id="<%= dom_id catalog %>">
  <p>
    <strong>Movie:</strong>
    <%= catalog.movie_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= catalog.title %>
  </p>

  <p>
    <strong>Overview:</strong>
    <%= catalog.overview %>
  </p>

  <p>
    <strong>Poster path:</strong>
    <%= catalog.poster_path %>
  </p>

  <p>
    <strong>Backdrop path:</strong>
    <%= catalog.backdrop_path %>
  </p>

</div>
